

#canvas {
    box-shadow: 2px 2px 10px #000000;
    border-radius: 3px;
}

#engine-title{
    /*margin-left:152px;*/
    font-size:40px;
}

#topbar, engine-title-row {
    margin-bottom: 12px;
}

#hierarchy-col{
    
}